/* Photo de progil */
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 10px;
    background-color: #fff;
}
/* Message photo changé */
.alertAvatar {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    animation: fadeAlert 4s ease;
}

@keyframes fadeAlert {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* Edition de l'avatar */
.avatar-edit {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

input#add-avatar {
    display: none;
}

input+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

input+label:hover::after {
    content: "🖊️";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar-preview {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    border: 2px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-upload {
    position: absolute;
    right: 60px;
    top: 10px;
}

/* Styles du message */
#messages .message {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#messages .message-container {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#messages .message .user {
    font-size: 15px;
    margin-bottom: 5px;
}