.emojisModale {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 2px;
    border-top-left-radius: 100vmax;
    border-top-right-radius: 100vmax;
    background-color: white;
    overflow-x: scroll;
    padding: .5rem 1.5rem;
    margin: 0;
    display: none;
    list-style: none;
}

.emojisModale.show {
    display: flex;

}

.emojisModale .emoji {
   font-size: 1rem;
   aspect-ratio: 1/1;
   border: 0;
   background-color: transparent;
   cursor: pointer;
}

.emojisModale .emoji:is(:hover, :focus-within) {
    filter: brightness(.55);
}

.addReaction {
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    border: 0;
    cursor: pointer;
}
.addReaction::after {
    content: '😀';
    display: block;
    filter: grayscale(100%);
    padding: 1px;
    border: 1px solid rgba(128, 128, 128, 0.466);
    font-size: .7rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: rgba(167, 167, 167, 0.24);
}

.reactions {
    padding: 0;
    margin: 0;
    display: flex;
}

.reaction {
    position: relative;
    cursor: help;
    display: inline;
}
.reaction:hover > span:last-child{
    opacity: 1;
}
.reaction > span:last-child {
    position: absolute;
    top: 100%;
    opacity: 0;
    left: -10px;
}